.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  body {
    background-color: rgb(43, 40, 40);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }